{% extends "erp/layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load socialaccount %}


{% block body %}
    <h1> Welcome to the Sales Department! </h1>

    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="form-group ">
        <legend class="border-bottom mb-4">Add Inventory</legend>
            <div class="col-sm-8">
            {{ form|crispy }}
            <div class="form-group">
                <button class="btn btn-outline-info mt-2" type="submit">Add</button>
            </div>
            </div>
        </fieldset>
    </form>

{% endblock %}
</body>
</html>